* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      height: 100%;
 }

 header {
  text-align: center;
  margin-top: 30px;
  color: blue;
  height: 50px;
 }

 body{
  background-color: gray;
  font-family: sans-serif;
  color: black;
  flex-wrap: wrap;
  font-size-adjust: 110%;
  height: 100%;
 }



 h2{
  margin-top: 40px;
  margin-left: 30px;
  height: 60px;
  width:  300px;
  text-align: left;
  color: blue;
 }

 .tus-datos {
      display: flex;
      flex-direction: column;
  margin: 40px;
  height: 200px;
  text-align: left;
  background-color: white;
  border-radius: 10px;
 }

 .tus-datos input {
      height: 20px;
      margin: 10px;
      align-items: left ;
 }


 p{
      height: 20px;
      margin-left: 30px;
 }


 img{
      margin-top: 20px;
      height: 90px;
      margin-left: 90%;
      border-radius: 50px;
 }




@media (max-width: 650px) {
      p{
            padding: 20px;
      }
}

@media (max-width: 650px) {
      .tus-datos {

           display: flex;
           flex-direction: column;
           height: 400px;

      }
}

@media (max-width: 650px) {
      img{
            margin: 5px;
      }

}

@media (max-width: 650px) {
      h2 {
            margin-top: 20%;
      }

}


